#projects-section{max-width:1500px;margin:120px auto;padding:0 20px}
.projects-grid{display:flex;flex-direction:column;gap:30px}
.project-card{display:flex;flex-direction:row;width:100%;height:280px;background:#4dc0e70b;border:2px solid #00BFFF;border-radius:20px;overflow:hidden;backdrop-filter:blur(12px);box-shadow:0 2px 6px rgba(0,0,0,.3);transition:.4s ease}
.project-image{padding:5px;width:40%;height:100%;overflow:hidden;border-radius:10px;flex-shrink:0}
.project-image img{width:100%;height:100%;object-fit:cover;display:block;transition:transform .4s ease;border-radius:20px}
.project-card:hover .project-image img{transform:scale(1.05)}
.project-content{width:60%;padding:35px;display:flex;flex-direction:column;justify-content:center}
.project-content h3{font-size:1.8rem;margin-bottom:15px;color:#fff}
.project-content p{color:#d4d7e3;line-height:1.6;margin-bottom:18px}
.project-tags{display:flex;gap:12px;flex-wrap:wrap}
.project-tags span{color:#fff;padding:6px 14px;border-radius:10px;border:3px solid #00BFFF;font-size:1rem;transition:transform .3s ease}
.project-tags span:hover{transform:scale(1.05)}
/* ===============================
   PROJECT MODAL
================================ */
.project-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.project-modal-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
}

.project-modal-content {
  position: relative;
  max-width: 700px;
  width: 90%;
  margin: auto;
  margin-top: 10vh;
  background: #160b3b;
  border: 2px solid #00BFFF;
  border-radius: 20px;
  padding: 2.5rem;
  color: #fff;
  animation: popup 0.35s ease;
}

.project-modal-close {
  position: absolute;
  top: 12px;
  right: 16px;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
